/*************************** Fit text to screen **********************************/
.fixScreen {
	width: 960px;
	height: 100%;
	margin: 0 auto;
    min-width: 960px;
}
body {
    color: #40220F;    
    background: url("../img/bg.png") repeat scroll 0 0 transparent;
    min-width: 960px;
}
/*************************** Fit text to screen **********************************/
/**************************** common use *****************************/
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin: 0 auto;
}
.centerText {
    text-align: center;
}

.textCenter {
    text-align: center;
}

.redFont {
    color: #E53828;
}
.moreHighlight {
    color: #926134;
    font-weight: bold;
}

.highlight {
    color: #7F4F21 !important;
}

.textColor {
    color: #706453;
}
.lightDetailColor {
    color: #AD8763;
}
.darkDetailColor {
    color: #A18878;
}
.normalColor {
    color: #40220F;
}

.borderBottom {
    border-bottom: solid 3px #C6B999;
}

.boxPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.boldFont {
    font-weight: bold;
}

.paddingLeft {
    padding-left: 8px;
}

.marginLeft {
    margin-left: 20px;
}

.paddingRight {
    padding-right: 10px;
}

.transparencyRed {    
    background: url("../img/transparency_red.png")  repeat scroll 0 0 transparent;
}

.transparencyDark {
    background: url("../img/transparency_dark.png")  repeat scroll 0 0 transparent;
}

.transparencyBrown {
    background: url("../img/transparency_brown.png")  repeat scroll 0 0 transparent;
}

.verticalLine {
    background: url("../img/vertical_line.png")  repeat-y scroll;
}

.lineBG {
    background: url("../img/small_line.png") repeat-x scroll;
}

.bottomLineBG {
    background: url("../img/small_line.png") repeat-x bottom left scroll;
}

.icon {
    height: 12px;
}

.hide {
    display: none;
}

.overflow {
    overflow: hidden;
}

.h2 {
    font-size: 18px;
}

.h3 {
    font-size: 16px;
}

.h5 {
    font-size: 12px;
}

.inputText {
    width: 240px;
    line-height: 1.8em;
    padding: 1px 10px;
    border: solid #C6B999 1px;
    color: #A18878;
    height: 23px;
}

.button {
    border: 1px solid #c6B999;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    *padding: 4px 4px 0px 4px;
    *margin-left: 15px;
}

.btn_bg {  
    padding: 15px 34px; 
    background:url("../img/button.png") scroll no-repeat transparent;  
    -moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    -webkit-background-size: 100% 100%;  
    background-size: 100% 100%;  
    -moz-border-image: url(./btn.png) 0;  
    background-repeat:no-repeat\9;  
    background-image:none\9;  
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/button.png', sizingMethod='scale')\9;  
    border: aliceblue;
    text-align: center;
    cursor: pointer;
    *border: none;
    *padding: 15px 18px;
}

.small_btn_bg {  
    padding: 15px 30px; 
    background:url("../img/button.png") scroll no-repeat transparent;  
    -moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    -webkit-background-size: 100% 100%;  
    background-size: 100% 100%;  
    -moz-border-image: url(./btn.png) 0;  
    background-repeat:no-repeat\9;  
    background-image:none\9;  
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/button.png', sizingMethod='scale')\9;  
    border: aliceblue;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    *border: none;
    *padding: 15px 15px;
}

.buttonLine {
   *position: relative;
   *top: -15px;
   width: 100%;
}

.buttonBox {
    margin: 0 auto;
    padding-top: 15px;
}

    .telephone img {
        height: 27px;
    }

    .telephone .phoneNumber {
        position: relative;
        top: -33px;
        left: 35px;
        font-size: 20px;
    }

/**************************** common use *****************************/
/**************************** head ***********************/
    .headImg img {
        min-width: 960px;
    }

.header {
    font-size: 13px;
}

    .header a {
        color: #40220F !important;
    }

.headerBox {
    overflow: hidden;
    line-height: 1.1em;
}

    .headerBox div {
        float: left;
    }

    .headerBox .welcomeBox {
        padding-left: 360px;
    }

    .headerBox .loginBox {
        padding-left: 70px;
    }

    .headerBox .contactBox img {
        height: 14px;
        padding-left: 8px;
    }


.logoBox {
    padding-top: 18px;
    overflow: hidden;
}

    .logoBox .logo {
        padding-left: 20px;
    }

        .logoBox .logo img {
            height: 86px;
        }

    .logoBox .taoximao {
        padding-top: 20px;
    }

    .logoBox .taoximaoUp {
        overflow: hidden;
    }

        .logoBox .cityBox {
            padding-top: 10px;
        }

        .logoBox .search {
            padding-left: 80px;
            width: 300px;
        }

            .logoBox .search .searchImg {
                padding: 4px 4px 0 4px;
                border: solid 1px #C6B999;
                background-color: white;
                *margin-left: -4px;
                *margin-top: 1px;
            }

            .logoBox .search .searchImg img {
                width: 17px;
                cursor: pointer;   
                *margin: 2px 1px;
            }

            .logoBox .search .searchTip {
                font-size: 12px;
                padding-top: 5px;
            }

        .logoBox .myInformation {
            padding-left: 40px;
        }

    .logoBox .taoximaoDown {
    }

    .logoBox .taoximaoDown .searchTip {
        padding-left: 230px;
        width: 280px;
        padding-top: 4px;
    }

.nav {
    background-color: #6A3906;
}

    .nav ul {
        width: 780px;
        overflow: hidden;
    }

        .nav ul li {
            float: left;
            padding: 20px 0;
        }

            .nav ul li a {
                font-size: 18px;
                color: white !important;
                font-weight: bold;
                padding: 20px;
            }

                .nav ul li a:hover {
                    background-color: #885C1E;
                    text-decoration: none !important;
                }
/********************************** footer ******************************************/

.footer {
    padding-top: 40px;
}

    .footer .searchBox .footerSearchBox {
        position: relative;
        top: -120px;
        left: 300px;
        width: 600px;
    }

    


    .footer .searchBox img {
        width: 960px;
    }

    .footer .searchBox .footerSearchBox select {
        padding: 4px 8px;
        font-size: 15px;
        margin: 0px;
    }

    .footer .searchBox .footerSearchBox .selectInput {
        margin-left: 8px;
        *margin-left: 27.1px;
    }

    .footer .searchBox .footerSearchBox .footerSearchSelectionBox {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        width: 567px;
        height: 70px;
        border-bottom: 1px solid gray;
    }

    .footer .searchBox .footerSearchBox .footerSearchBoxButtonBox {
        position: relative;
        top: -40px;
    }


    .footer .moreBox {
        margin-top: -20px;
        padding-bottom: 40px;
    }

        .footer .moreBox .moreBoxLeft {
            width: 590px;
            float: left;
        }

            .footer .moreBox .moreBoxLeft .moreFixWidth {
                width: 245px;
                *width: 230px;
            }

            .footer .moreBox .moreBoxLeft .innerMapCol {
                width: 56px;
                float: left;
                padding: 15px 12px 0 26px;

            }

        .footer .moreBox .moreRight {
            padding-right: 30px;
            font-size: 15px;
            padding-left: 660px;
        }

            .footer .moreBox .moreRight .shell {
                border-left: 1px solid #C6B999;
            }

            .footer .moreBox .moreRight .moreRightTuple {
                float: right;
                overflow: visible;   
            }

            .footer .moreBox .moreRight .slogan {
                text-align: right;
                padding-bottom: 15px;
                margin-top: -20px;
                width: 240px;
            }

            .footer .moreBox .moreRight .callback {
                border: 1px solid yellow;
                padding: 8px 5px 5px 8px;
            }

                .footer .moreBox .moreRight .callback span {
                    *position: relative;
                    *top: -18px;
                }

.copyright {
    height: 16px;
    text-align: center;
    background-color: #6A3906;
    color: white;
    padding: 15px 5px;
}

    .copyright .myName {
        padding-right: 50px;
    }