.imgSlider .selection {
    padding: 20px 0 8px 0;
    font-size: 13px;
    line-height: 1.4em;
}

.imgSlider .sliderBox {
    padding: 10px 8px;
    overflow: hidden;
}

    .imgSlider .sliderBox .showImg {
        width: 470px;
    }

    .imgSlider .sliderBox .detailBox {
        width: 450px;
        padding-left: 20px;
    }

        .imgSlider .sliderBox .detailBox .hotelName {
            padding-top: 12px;
            padding-bottom: 5px;
            font-size: 18px;
        }

        .imgSlider .sliderBox .detailBox .privilege label {
            padding-right: 18px;
        }

        .imgSlider .sliderBox .detailBox .shopHours {
            font-size: 18px;
        }

            .imgSlider .sliderBox .detailBox .privilegePrice .someWords {
                line-height: 2.4em;
                font-size: 17px;
            }

            .imgSlider .sliderBox .detailBox .privilegePrice .price {
                font-size: 28px;
            }

        .imgSlider .sliderBox .detailBox .detailTuple {
            overflow: hidden;
        }

        .imgSlider .sliderBox .detailBox .detail {
            font-size: 13px;
        }

            .imgSlider .sliderBox .detailBox .detail .detailTupleContentLable {
                width: 380px;
                overflow: hidden;
            }

            .imgSlider .sliderBox .detailBox .detail .detailTupleContentLable div {
                float: left;
                padding-left: 5px;
                width: 90px;
            }
.content {
    padding-top: 40px;
}

.content .baseInformation {
    width: 710px;
}

    .baseInformation ul {
        overflow: hidden;
    }

        .baseInformation ul li {
            padding: 12px 20px 8px 20px;
            font-size: 13px;
            float: left;
        }

            .baseInformation ul li a {
                color: #40220F !important;
            }


    .baseInformation .curSelection {
        border-top: solid 1px #AD8763;
        border-left: solid 1px #AD8763;
        border-right: solid 1px #AD8763;
        background: url("../img/transparency_red.png")  repeat scroll 0 0 transparent;
    }

    .baseInformation .noSelection {
        border-bottom: solid 1px #AD8763;
    }

    .baseInformation .fixWidth {        
        padding: 10px !important;
    }

    .baseInformation .tabBody {
        background: url("../img/transparency_red.png")  repeat scroll 0 0 transparent;        
        padding: 10px 0 10px 20px;
    }

        .baseInformation .tabBody .contentHead {
            font-size: 13px;
        }

        .baseInformation .tabBody .outlineTuple {
            width: 610px;
            overflow: hidden;
        }

            .baseInformation .tabBody .outlineTuple div {
                float: left;
                margin: 5px 10px 5px 0;
                width: 110px;
                padding: 0 10px 0 15px;
                border-right: solid 1px #AD8763;
            }

        .baseInformation .tabBody .detailInformation {
            background: url("../img/small_line.png") repeat-x scroll;
            padding-top: 15px;
            font-size: 13px;
            margin-right: 10px;
        }

            .baseInformation .tabBody .detailInformation img {
                width: 350px;
                margin: 0 auto;
                display: block;
                padding-top: 8px;
            }

        .baseInformation .tabBody .privilegeHeader {
            overflow: hidden;
            width: 340px;
            *width: 420px;
        }

            .baseInformation .tabBody .privilegeHeader .bookFood {
                font-size: 28px;
                color: #960D23;
                position: relative;
                top: -26px;
            }

            .baseInformation .tabBody .privilegeHeader img {
                width: 65px;
            }

            .baseInformation .tabBody .privilegeHeader .num {
                color: #E1007F;
                font-size: 32px;
                font-weight: bold;
            }

        .baseInformation .tabBody .privilegeDetail {
            color: #6E2850;
            font-size: 13px;
            padding-top: 15px;
            padding-left: 20px;
        }

            .baseInformation .tabBody .privilegeDetail p {
                padding: 2px 0;
            }

                .baseInformation .tabBody .privilegeDetail p span {
                    padding-right: 5px;
                }


        .baseInformation .tabBody .book {
            overflow: hidden; 
        }

            .baseInformation .tabBody .book input[type="text"] {
                width: 160px;
                line-height: 1.8em;
                padding: 1px 10px;
                border: solid #C6B999 1px;
                color: #A18878;                
                height: 23px;
            }

        .baseInformation .tabBody .giveBag {
            font-size: 30px;
            padding-left: 100px;
            font-weight: bold;
        }


        .baseInformation .tabBody .book img {
            width: 210px;
            display: block;
            margin-right: -60px;
        }

            .baseInformation .tabBody .book .bookBox {
                margin-top: 170px;
                padding: 5px 50px 5px 30px;
                border-left: solid 1px #AD8763;
                overflow: hidden;
            }

.yellowBox {
    background: url("../img/yellowBG.png") repeat scroll;
    padding: 12px 0px 12px 25px;
    margin: 20px 0 20px 0px;
    color: #6A3906;
    font-size: 14px;
    width: 600px;
}

.menu {
    padding: 20px 15px 20px 0;
}

    .menu .menuBody .detailTupleContentLable {
        width: 500px;
    }

        .menu .menuBody .detailTupleContentLable div {
            float: left;
            padding-right: 5px;
            width: 120px;
        }

    .menu .menuBody img {
        width: 100px;
        padding-bottom: 15px;
        margin-top: -15px;
    }

.hotelDetail table {
    border: solid 1px #C6B999;
    font-size: 13px;
    width: 630px;
}

    .hotelDetail table th {
        border: solid 1px #C6B999;
        padding: 10px 8px;
        max-width: 100px;
        min-width: 30px;
        text-align: center;
    }

    .hotelDetail table td {
        border: solid 1px #C6B999;
        padding: 10px 8px;
        max-width: 100px;
        min-width: 30px;
        text-align: center;        
        background: url("../img/bg.png") repeat scroll 0 0 transparent;
    }

.calendar table {
    border: solid 2px white;
    width: 630px;
    font-size: 18px;
}

    .calendar table th {
        border: solid 2px white;
        width: 85px;
        background: url("../img/transparency_dark.png")  repeat scroll 0 0 transparent;
        padding: 15px;
        text-align: center;
        color: white;
    }

    .calendar table td {
        border: solid 2px white;
        width: 85px;
        padding: 15px;
        text-align: center;
        color: #926134;
    }

.calendar .gooddayBox {
    float: right;
    padding-right: 40px;
    padding-top: 5px;
}

    .calendar .gooddayBox .goodday {
        width: 30px;
        height: 13px;
    }

.contentBody .contentBodyHead {    
    font-size: 16px;
}

.contentBody .contentBodyDetail {
    font-size: 14px;
    color: #A18878;
    padding-left: 20px;
}

.byBus .busTurple .detailTupleTitle {
    float: left;
}

.byBus .busTurple .detailTupleContent {
    float: left;
    width: 430px;
}

.starBox img {
    width: 12px;
}

.bigStarBox img {
    width: 18px;
}

.bigStarBox {
    font-size: 18px;
}

.detailStar {
    float: left;
}

.starArea {
    padding-right: 25px;
}

.starAll {
    float: left;
    width: 175px;
}

.starArea .detailStar .detailStartuple {
    overflow: hidden;
    padding-bottom: 5px;
}

.starArea .detailStar .detailStartuple .detailTupleTitle {
    width: 85px;
    float: left;
    text-align: right;
}

.starArea .detailStar .detailStartuple .detailTupleContent {
    float: left;
}

.starAll {
    overflow: hidden;
    padding: 5px 10px 5px 35px;
    float: left;
}

.recommendBox .recommendOrNot {
    padding-top: 15px;
}

.recommendBox img {
    width: 22px;
    padding-right: 5px;
    margin-bottom: -5px;
}


.commentBox {
    overflow: hidden;
    height: 90px;
    padding-top: 30px;
    padding-left: 40px;
    margin: 0 auto;
}

.contentBodyDetail {
    margin-right: 20px;
    padding-top: 10px;
}

.contentBodyTuple {
    padding-top: 10px;
    overflow: hidden;
    margin-right: 20px;
    padding-bottom: 20px;
}

    .contentBodyTuple .contentBodyHead .notes {
        float: left;
        padding: 3px 0 3px 40px;
        font-size: 12px;
    }

.detailTupleContent textarea {
    width: 450px;
    height: 100px;
    padding: 5px 8px;
    border: 1px solid #C6B999;
    color: #AD8763;
    font-size: 13px;
}

.detailTupleContent .reminder {
    padding-left: 420px;
}

.flagJust input {
    width: 450px !important;    
    height: 23px;
}

.tag div {
    float: left;
    border: 1px solid #C6B999;
    color: #AD8763;
    margin-right: 8px;
    font-size: 12px;
    padding: 1px 2px;
}

.headerMoreTitles div {
    float: left;
    padding-right: 70px;
    font-size: 20px;
}

.comments .commentTuple {
    background-color: white;
    padding: 10px 15px;
    overflow: hidden;
}

    .comments .commentTuple .personInformation {
        border: 1px solid #C6B999;
        float: left;
        width: 80px;
        text-align: center;
        margin-right: 20px;
        overflow: hidden;
    }

        .comments .commentTuple .personInformation img {
            width: 80px;
        }

    .comments .commentTuple .starBox {

    }

    .comments .commentTuple .useImpression div {
        float: left;
        padding-right: 10px;
    }

    .comments .commentTuple .commentsCore {
        padding: 15px 0 15px 5px;
        margin-top: 5px;
    }

.sidebar {
    width: 225px;
    padding-left: 20px;
}

    .sidebar .smallBox {
        padding-bottom: 30px;
    }

    .sidebar .smallBox .smallBoxHeader {
        background: url("../img/small_line.png") repeat-x bottom left scroll;
        border-top: 3px solid #C6B999;
        padding-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }

    .sidebar .smallBox .smallBoxBody {
        padding: 7px 0;
        background: url("../img/small_line.png") repeat-x bottom left scroll;
    }

        .sidebar .smallBox .smallBoxBodyIner div {
            padding-bottom: 5px;
            font-size: 13px;
        }

        .sidebar .smallBox .smallBoxBody .smallBoxBodyIner {
            padding: 8px 5px;
        }

.centerBox div {
    text-align: center;
}

.sidebar .additionBox {
    font-size: 13px;
}

    .sidebar .additionBox div {
        padding-bottom: 5px;
    }

    .sidebar .additionBox input[type=text] {
        width: 180px;
        line-height: 1.8em;
        padding: 2px 10px;
        border: solid #C6B999 1px;
        color: #A18878;
        margin-bottom: 5px;        
        height: 23px;
    }

/******************************* hack ************************************
.hotelDetail table th { 
    *width: expression( this.scrollWidth > 100 ? "100px" : "auto" );
    *width: expression( this.scrollWidth < 30 ? "30px" : "auto" ); 
}

.hotelDetail table td { 
    *width: expression( this.scrollWidth > 100 ? "100px" : "auto" );
    *width: expression( this.scrollWidth < 30 ? "30px" : "auto" ); 
}*/


